[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-dotenv = "*"
black = "==20.8b1"
flake8 = "*"
pytest-dependency = "*"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
flower = "~=0.9.5"
python-gitlab = "~=2.4.0"
PyDriller = "~=1.15.0"
celery = {extras = ["redis"], version = "~=4.4"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
